body {
    margin: 2em 5em;
}

img {
    display: block;
    margin: 0 auto;
}

#opis_field {
    grid-column: span 2;
}

#detalji_list {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
}

#upit_list {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr;
}

#upit_list div {
    background-color: white;
    border: 1px solid black;
    padding: 10px;
}

textarea {
    resize: none;
}
