#menu_list a {
    margin: 5px;
}

#menu_list a:hover {
    color: #ff9900;
}

#menu_list {
    width: fit-content;
    display: flex;
    margin: 0 auto;
}

#meni {
    border: 0;
    width: 100%;
    height: fit-content;
}