.itemList {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 20px 20px;
}

.itemFrame {
    padding: 10px 10px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 280px;
}

button {
    width: fit-content;
    display: block;
    margin: 0 auto;
}

#stan .itemFrame {
    background-color: white;
}

#kuca .itemFrame {
    background-color: powderblue;
}

#pp .itemFrame {
    background-color: green;
}

.cijena {
    text-align: right;
}
