body {
    margin: 16px;
}

#content_grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 0;
}

input {
    padding: 10px 5px;
}

.grid_item {
    align-self: center;
}

@media screen and (min-width: 501px) {
    #content {
        display: flex;
    }

    #content_grid {
        margin-left: 16px;
    }
}
